*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.history
.project
.strong-pm
.vscode
.history
.env
workers/.env
coverage
node_modules
npm-debug.log
.tmp
.sass-cache
mongo-data
mongoData
dist
es-data
doc
out
